/* rem and em do NOT depend on HTML font-size in media queries 
instead, 1rem = 1em = 16px */

/* rem has some bugs in some browsers when used in media
 queries, so use em */

/**************************************/
/* L -- BELOW 1200 */
/**************************************/

/* 1200px / 16px = 75 */
@media (max-width: 75em) {
}

/**************************************/
/* M -- BELOW 992 */
/**************************************/

/* 992px / 16px = 62 */
@media (max-width: 62em) {
  /* HEADER */
  .logo-container {
    margin: 6.4rem 0;
  }

  .logo {
    font-size: 4.8rem;
  }

  .logo-subtitle {
    font-size: 1.2rem;
  }

  /* MAIN */
  .container {
    flex-direction: column;
    width: 100%;
  }

  .nav-secondary {
    margin-right: 0;
    order: 1;
  }

  .nav-secondary ul {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-secondary ul li {
    margin: 0.8rem;
  }

  /* DONATE */
  .radio-box-container {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  /* FOOTER */
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer-stripe .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-direction: column-reverse;
  }
}

/**************************************/
/* S -- BELOW 768 */
/**************************************/

/* 768px / 16px = 48 */
@media (max-width: 48em) {
  /* NAV */
  .nav-primary {
    
  }
  
  /* HEADER */
  .logo {
    font-size: 4.8rem;
    letter-spacing: 1.2px;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .logo-subtitle {
    font-size: 1rem;
    letter-spacing: 0.8px;
  }

  /* BANNER */
  .banner {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .banner .icon {
    display: none;
  }

  .banner p {
    padding: 0 1.8rem;
    text-align: center;
  }

  /* MAIN */
  .article-container {
    grid-template-columns: 1fr;
  }

  .blog {
    gap: 1.2rem;
  }

  .blog-entry {
    grid-template-columns: 1fr;
    gap: 0.4rem;
  }

  .blog-entry .blog-content {
    order: 1;
  }

  .blog-entry .author {
    border-bottom: none;
  }

  .blog-entry p {
    display: none;
  }

  .pagination {
    margin-top: 2.4rem;
  }

  /* PARTNER LOGOS */

  .section-partners {
    margin-top: 3.2rem;
  }

  .partner-logos {
    gap: 0.8rem;
  }

  .partner-logos img {
    width: 6.4rem;
    height: 6.4rem;
  }

  /* DONATION */
  .donate-form {
    grid-template-columns: 1fr;
    border: none;
    box-shadow: none;
  }

  .donate-header h3 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .donate-header p {
    padding: 0 0;
  }

  /* FOOTER */
  .footer-grid {
    padding: 6.4rem 2rem;
    grid-template-columns: 1fr;
  }
}
